body {
    background-color: #080708;
    font-family: 'Baloo Tamma 2', cursive;
}
.buttons-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    /* color: #58534f; */
    color: #fff;
    font-size: medium;
}

.first-button {
    background-color: #e29416;
    color: #000;
}

.second-button {
    background-color: #e06802;
    color: #000;
}

.third-button {
    background-color: #f2f2f2;
    color: #58534f
    
}

.fourth-button {
    background-color: #a61b0f;
    color: #e2e2e2
}

.fifth-button {
    background-color: #ae5d2b;
}