.buttons-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    color: #f2f2f2;
    font-size: medium;
}

.first-button {
    background-color: #f2bb13;
}

.second-button {
    background-color: #f28c0f;
}

.third-button {
    background-color: #f2f2f2;
    color: #000
}

.fourth-button {
    background-color: #a61b0f;
}

.fifth-button {
    background-color: #d9a273;
    color: #000
}