body {
    background-color: #080708;
    font-family: 'Baloo Tamma 2', cursive;
}
.buttons-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    font-size: medium;
    font-family: 'Baloo Tamma 2', cursive;
    background-color: #a61b0f;
    color: #e2e2e2;
    cursor: pointer;
}

